/// common colors
$c-white: #ffffff;
$c-black: #000000;

/// app colors
$c-default: $c-white;
$c-primary: #f65261;
$c-secondary: #424242;
$c-background: #232323;
$c-background-alt: #555555;

/// fonts
$f-default: Montserrat;
