/// common colors
$c-white: #ffffff;
$c-black: #000000;

/// app colors
$c-primary: #f65261;
$c-secondary: #424242;
$c-background: #232323;
$c-background-alt: #555555;

$c-default: $c-white;

/// app fonts
$f-regular: 'Montserrat Regular';
$f-light: 'Montserrat Light';
$f-medium: 'Montserrat Medium';
$f-extraBold: 'Montserrat ExtraBold';

$f-default: $f-regular;
