@import './bootstrap';

@import './variables';
@import './functions';
@import './mixins';

/*
  Global Styles
*/

body {
  font-family: $f-default;
  color: $c-default;
  background-color: $c-background-alt;
}

.ellipsis {
  @include ellipsis;
}

.modal {
  background-color: blackColor(0.7);
}
