@import '../../../styles/variables';

.search-movie-page {
  .header-title {
    margin-right: 20px;
  }

  .movie-details-info {
    padding: 30px 120px 0 60px;
  }

  .movie-details-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 26px;
    color: rgba($color: #a1e66f, $alpha: 0.8);
    border: 1px solid rgba($color: $c-default, $alpha: 0.8);
    border-radius: 50%;
  }

  .movie-details-subtitle {
    font-family: $f-medium;
    font-size: 16px;
    color: rgba($color: $c-default, $alpha: 0.7);
  }

  .movie-details-additional {
    &-item {
      display: flex-end;
      margin-right: 30px;
    }
    &-value {
      margin-right: 5px;
      font-size: 26px;
      color: $c-primary;
    }
    &-unit {
      font-size: 14px;
      color: rgba($color: $c-default, $alpha: 0.5);
    }
    display: flex;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .movie-details-description {
    font-size: 17px;
    line-height: 22px;
    color: rgba($color: $c-default, $alpha: 0.8);
  }
}
